

html, body {
    width: 100%;
    height: auto;
    font-family: 'Inter', sans-serif;
    overflow: hidden;

}

html
{
    overflow-y: auto;
}


body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}
body::-webkit-scrollbar-button {
  background-color: transparent;
  height: 0;
}

body::-webkit-scrollbar-button:hover {
  background-color: #999999;
}
body::-webkit-scrollbar-track
{
    background-color: transparent;
}

header
{
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10000;
}

nav
{
    display: flex;
    padding: 0;
    justify-content: space-between;
    background-color: transparent;
    width: 100%
}

body header nav a
{
    text-decoration: none;
    color: white;
    font-weight: 200 bold;
    padding: 10px 20px

}
body header nav a img
{
    height:25%;
}
.hero-logo{
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero-logo h2{
    font-weight:200;
    color:white;
    margin-bottom: 20px;
    margin-top: 20px;
}

p
{
    color: white;
    font-size:0.9rem;
    font-weight: 450
}

.nav-items
{
    display: flex;
    gap: 4rem
}

nav .logo p {
    font-weight: 200;
}



.gradient-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

a
{
    font-size: 1.25em;
    text-decoration
}
.hero-footer
{
    bottom: 0 !important;
    position: absolute !important;
    left: 0;
    width: 100vw;
    padding: 10px 20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    z-index: 2
}

.hero-footer a
{
    font-weight:200 bold;
    color:white;
    text-decoration: none;
}

.not-homepage-canvas
{
    width: 100%;
    height:50vh;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 160px), 0% 100%);

}

h1
{
    font-family: 'Inter';
    font-size: 5em;
    color: black;
    font-weight: 200;
    letter-spacing: -4px;
}

.hero-desc
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    padding-left: 10%;
    padding-right: 10%;

}

.hero-desc h2
{
    font-size: 2.5em;
    font-weight: 300;

}

.hero-desc p
{

    font-size: 1.1em;
    font-weight: 500;
}
.lame-h2
{
    padding: 5% 5% 0 5%;
    font-size: 2.5em;
    font-weight: 300;
    color: black;
}
.lame-p
{
    padding: 0 7.5% 0 7.5%;
    font-size: 1.1em;
    font-weight: 500;
    color: black;
}
.hero-desc img
{
    width: 50%;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}
.hero-desc-left, .hero-desc-right
{
    flex: 0 1 400px;
}
.hero-desc-right
{
    margin-top: -15%;
    z-index: 1000;
}

.hero
{
    position: relative;
    width: 100vw;
    overflow: hidden;
}
.underneath-hero-section
{
    position: relative;
    width: 100vw;
    padding-left: 5%;
    padding-right: 5%;
}

.underneath-hero-section hr
{
}
.underneath-hero-section h2
{
    font-size: 2.5em;
    font-family: "inter";
    font-weight: 300;
}
.underneath-hero-section p
{
    color: black;
    font-size: 1.1em;
    font-family: "inter";
    font-weight: 500;
}

.questions-section
{
    padding: 0 5% 5% 5%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
.questions-section .question-card
{
    box-shadow: 0 2px 4px rgba(0,0,0,0.5),
    0 8px 16px rgba(0,0,0,0.1);
    padding: 5%;
    position: relative;
    flex: 0 0 calc(100%/2 - 10px);
    border-radius: 8px;
}
.questions-section .question-card p
{
    color:black;
}

.contact-hero-logo
{
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding: 0;
    gap: 20px;
}
.contact-hero-logo h1
{
    width: 100%;
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.contact-hero-logo .contact-cards
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    position: relative;
    flex: 0 0 calc(100%/2 - 10px);
    max-width: calc(50% - 10px);

}
.contact-hero-logo .contact-cards img
{
    width: 25vw;
}

.contact-hero-logo h2
{
    font-weight:200;
    color:black;
    margin-bottom: 20px;
    margin-top: 20px;
}

